<div class="key_points font--text-xs" style="background-color: {{block.settings.checkmarkcolorbackground}};">
	<div class="key_points-line_item">
	<div class="key_points_line_item_parent">
		<div class="key_points_line_item_icon"> <i class="fa-regular fa-circle-check" style="color:{{block.settings.checkmarkcolor}}"></i> </div>
			<div class="key_points_line_item_text"> <strong class="font--text-xs-regular">  {{block.settings.key1}}

</strong></div> </div> </div> 


<div class="key_points-line_item">
	<div class="key_points_line_item_parent">
		<div class="key_points_line_item_icon"> <i class="fa-regular fa-circle-check" style="color:{{block.settings.checkmarkcolor}}"></i> </div>
			<div class="key_points_line_item_text"> <strong class="font--text-xs-regular">{{block.settings.key2}}


</strong></div> </div> </div><div class="key_points-line_item">
	<div class="key_points_line_item_parent">
		<div class="key_points_line_item_icon"> <i class="fa-regular fa-circle-check" style="color:{{block.settings.checkmarkcolor}}"></i> </div>
			<div class="key_points_line_item_text"> <strong class="font--text-xs-regular">{{block.settings.key3}}


</strong></div> </div> </div></div>